html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Reem Kufi Fun, Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, black, white);
}
/* Estilo de la Scrollbar Y */
body::-webkit-scrollbar {
    width: 10px;           
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);    
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(34, 34, 34);
    border-radius: 20px; 
    border: 2px solid rgba(0, 174, 255, 0.377); 
  }



/* nav-bar Inicio */
.nav {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between; /* Para alinear elementos en los extremos */
    align-items: center;
    padding: 10px 35px; /* Para agregar algo de espacio a los lados */
}

.nav__img {
    width: 22vh;
    user-select: none;
}

.title--nav {
    width: 35vh;
    margin-left: 5vh;
    user-select: none;
    
}
/* Estilo para el enlace */
.underline__animated {
    text-decoration: none;
    position: relative; /* Necesario para posicionar la línea */
}

/* Estilo para la línea */
.underline__animated::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    background: linear-gradient(to left,rgb(0, 174, 255),#ff119c);
    bottom: 5px; /* Ajusta la distancia de la línea respecto al texto */
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.underline__animated:hover::after {
    transform: scaleX(1);
}

#slash {
    cursor: default;
}

.list--title {
    display: flex;
    align-items: center;
}

.nav__list {
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Para alinear los items a la derecha */
    flex-grow: 1;
}

.nav__link {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    background-color: rgba(0, 255, 191, 0);
    margin: 5px;
    user-select: none;
    cursor: pointer;
}

.nav__title {
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 32px;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    background-color: rgba(0, 255, 191, 0);
    margin: 5px;
    cursor: default;
    user-select: none;
    width: 30vh;
}

.link--button {
    background-color: rgba(255, 255, 255, 0.822);
    border: 10px;
    border-radius: 5px;
    padding: 4px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    display: flex;
    transition: 0.8s;
    font-size: 20px;
}

.link--button:hover {
    transition: 0.8s;
    background-color: #ffffff;
    color: #ff00ff;
}
.nav__item {
    display: inline-block;
}

.item--button {
    padding-top: 11px;
    padding-left: 4px;
}
/* nav-bar Fin */

/* Inicio Carrusel */

.container {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: rgba(228, 228, 228, 0);
    width: 80%;
    margin: 0 auto;
    margin-top: 2.5em;
    border-radius: 50px;
    padding: 1.5em;
    display: block;
    gap: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}


/* Estilos iniciales para el contenido */
.text-padding {
    padding-left: 0.5em;
}

.h2__slides {
    font-style: unset;
    font-size: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Press Start 2P", system-ui;
}

.text-slide {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.contenido {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none; /* Oculta todo el contenido por defecto */
    user-select: none;
    cursor: default;
}

.content--button {
    background-color: rgba(0, 0, 0, 0.822);
    border: 10px;
    border-radius: 5px;
    padding: 4px;
    color: rgb(216, 216, 216);
    font-weight: bolder;
    display: flex;
    transition: 0.8s;
    font-size: 20px;
    margin-left: 135vh;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    
}

.button-plus {
    background-color: rgba(14, 14, 14, 0.815);
    color: #575757c9;
    border-radius: 10px;
    padding: 2vh;
    font-size: 4.2vh;
    margin-left: 155vh;
}

.content--button:hover {
    transition: 0.8s;
    background-color: #e6e5e5;
    color: #ff3faf;
}

@keyframes slideInL {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideInR {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideInU {
    0% {
        opacity: 0;
        transform: translateY(10vw);
    }
    100% {
        opacity: 1;
        transform: translateY(90%);
    }
}

.animated-text {
    display: inline-block;
    animation: 3s ease-in-out forwards;
}

.animated-text-l {
    display: inline-block;
    animation: slideInL 2s ease-in-out forwards;
}

.animated-text-r {
    display: inline-block;
    animation: slideInR 2s ease-in-out forwards;
}

.animated-text-u {
    display: inline-block;
    animation: slideInU 2s ease-in-out forwards;
}

#contenido1 {
    height: 80vh;  
}

#contenido2 {
    height: 80vh; 
}

#contenido3 {
    height: 80vh;
}

#contenido4 {
    height: 80vh;
}

#contenido5 {
    height: 80vh;
}

/* Estilo para el contenido visible */
.contenido.visible {
    display: block; /* Muestra el contenido visible */
    opacity: 1; /* Asegúrate de que el contenido es completamente visible */
}

hr {
    width: 100vh;
    height: 5px;
    color: rgba(105, 105, 105, 0.521);
    background-color: #ffb2e1;
    border-radius: 20px;
}

/* Fin de Carrusel */


/* title main Inicio (ELIMINADO)*/
.title {
    font-size: larger;
    margin: auto;
    width: 50vw;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: aqua;
}

#header-title {
    text-decoration: underline;
}
/* title main Fin */

/* Footer Inicio */
.footer__anchor {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}
/* Footer Fin */

